profiles {
  conda {
    // Enable conda and mamba
    conda.enabled = true
    conda.useMamba = true

    // Disable other container features
    docker.enabled         = false
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false

    // Set cacheDir
    conda.cacheDir = "$HOME/my_conda_envs/cache"

    // Increase timeout (prevents error code 120)
    conda.createTimeout    = "120 min"

    // Load user profile env and miniconda module to prevent activate errors
    process {
      beforeScript = 'source /etc/profile.d/conda.sh; conda activate CAMPneu_v3'
      module = ['miniconda3/20230728']
   }
  }
}
