params {
    kraken_db_dir = "${HOME}/CAMPneu/db/krakendb" // Default path for Kraken database
    reference_dir = "${HOME}/CAMPneu/db/References" // Default path for Reference files
}

profiles {
    singularity {
        singularity.enabled = true
        process {
            withName: kraken {
                container = 'staphb/kraken2:latest'
            }
        }
        process {
            withName: fastp {
                container = 'staphb/fastp:latest'
            }
        }
        process {
            withName: fastp_jq {
                container = 'quay.io/biocontainers/jq:1.5--4'
            }
        }
        process {
            withName: coverage_check {
                container = 'quay.io/schandry_containers/minimap2-samtools:latest'
            }
        }
        process {
            withName: assembly {
                container = 'staphb/unicycler:latest'
            }
        }
        process {
            withName: fastANI {
                container = 'staphb/fastani:latest'
            }
        }
        process {
            withName: minimap2 {
                container = 'staphb/minimap2:latest'
            }
        }
        process {
            withName: samtools {
                container = 'staphb/samtools:latest'
            }
        }
        process {
            withName: freebayes {
                container = 'staphb/freebayes:latest'
            }
        }
        process {
            withName: vcf_subset {
                container = 'staphb/bcftools:latest'
            }
        }
        process {
            withName: amrfinder {
                container = 'staphb/ncbi-amrfinderplus:latest'
            }
        }
    }
    conda {
        conda.enabled = true
        process {
            withName: kraken {
                conda = 'bioconda::kraken2'
            }
        }
        process {
            withName: fastp {
                conda = 'bioconda::fastp'
            }
        }
        process {
            withName: fastp_jq {
                conda = 'conda-forge::jq'
            }
        }
        process {
            withName: coverage_check {
                conda = 'bioconda::samtools bioconda::minimap2'
            }
        }
        process {
            withName: assembly {
                conda = 'bioconda::unicycler'
            }
        }
        process {
            withName: fastANI {
                conda = 'bioconda::fastani'
            }
        }
        process {
            withName: minimap2 {
                conda = 'bioconda::minimap2'
            }
        }
        process {
            withName: samtools {
                conda = 'bioconda::samtools'
            }
        }
        process {
            withName: freebayes {
                conda = 'bioconda::freebayes'
            }
        }
        process {
            withName: vcf_subset {
                conda = 'bioconda::bcftools'
            }
        }
        process {
            withName: amrfinder {
                conda = 'bioconda::ncbi-amrfinderplus'
            }
        }
    }
}
